<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document_GA
  </title>
</head>
<body>
  <h1>Register_Google</h1>

  <form action="/users/register_googleAccount" method="POST">
    <button type="submit" name="signinWithGoogle">
      <p>Sign in with Google</p>
      <i class="fab fa-google"></i>
    </button>
  </form>
  <br>
  <a href="/users/register_mailAdress">Sign up for Email</a> 
  | 
  <a href="/users/login">Log in</a>
</body>

</html>