<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document_MA
  </title>
</head>
<body>
  <h1>Register_MA</h1>

  <ul>
    <% if(typeof errors != 'undefined') { %> <% errors.forEach(error =>{ %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </ul>

  <form action="/users/register_mailAdress" method="POST">
    <div>
      <input 
        type="text"
        id="name" 
        name="name" 
        placeholder="Name" 
        requied 
      />
    </div>
    <div>
      <input 
        type="email" 
        id="email" 
        name="email" 
        placeholder="Email" 
        requied 
      />
    </div>    
    <div>
      <input 
        type="password" 
        id="password" 
        name="password" 
        placeholder="Password" 
        requied 
      />
    </div>
    <div>
      <input 
        type="password" 
        id="password_confirm" 
        name="password_confirm" 
        placeholder="Confirm password" 
        requied 
      />
    </div>
    <div>
      <input type="submit" value="Register" />
    </div>
      <a href="/users/login_mailAdress">Already registered? Login here</a>
  </form>
  
</body>
</html>